.footer {
  background-color: #3aba3a;
  color: #fff;
  padding: 2rem 1rem;
  font-size: 14px;
}

.topBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.navLinks {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .navLinks {
    flex-direction: column;
    align-items: center;
  }
}

.appButtons img {
  height: 40px;
  margin-left: 10px;
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.socialIcons img {
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}
